.agora-metagora-navigator-wrapper {
    height: fit-content;
    width: 80px;

}

.agora-button-grid {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0.25rem;
}

.agora-selector {
    cursor: pointer;

    height: 100%;
    width: 100%;

    aspect-ratio: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(from var(--primary-color) r g b / 0.25);
    border: none;

    backdrop-filter: blur(10px);

    transition: 300ms;
}

.agora-selector:last-child {
    border: none;
}


.agora-selector > * {
    pointer-events: none;
}

.agora-selector:hover {
    background-color: var(--primary-color);
}

.agora-selector > img {
    padding: 1rem;
    box-sizing: border-box;

    width: 100%;
    height: 100%;
    object-fit: contain;
}

.agora-selector.selected {
    background-color: var(--primary-color);
}

.metagora {
    /* height: 40px; */

    /* font-weight: bold;
    color: var(--text-accent-color); */

    background-color: rgb(from var(--text-accent-color) r g b / 0.2);
}

.metagora svg {
    color: var(--primary-color);
    width: 80%;
    height: 80%;
}

.metagora.selected {
    color: var(--primary-color);
    background-color: var(--text-accent-color);
}

.metagora.selected svg {
    color: var(--primary-color);
}

.metagora:hover {
    color: var(--primary-color);
    background-color: var(--text-accent-color);
}

.no-logo {
    /* font-size: 1.8rem; */
    font-weight: bold;
}

/* ANIMATIONS */
.clicked {
    animation: click 0.3s ease-in-out;
}

@keyframes click {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-1rem);
    }
    100% {
        transform: translateX(0);
    }
}