.agora-chat-input-wrapper {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

input {
    appearance: none;

    padding: 1rem;
    padding-inline: 1.5rem;
    box-sizing: border-box;

    flex: 1;
    height: 100%;

    border: none;
    outline: none;

    border-radius: 10pt;
    border-top-right-radius: 0;

    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.15);

    transition: 300ms;
}

/* AUPAEU BUTTON */
.send-button {
    padding: 0;
    box-sizing: border-box;

    cursor: pointer;

    height: 100%;
    aspect-ratio: 1;

    border: none;
    border-radius: 10pt;

    background-color: var(--primary-color);

    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.15);

    position: relative;

    overflow: hidden;

    z-index: 10;

    transition: 300ms;
}

.send-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    transform: translateX(-100%);

    border-radius: 10pt;

    background-color: rgb(from var(--text-accent-color) r g b / 0.5);

    opacity: 0;
    transition: 300ms;
}

.send-button:hover::before {
    transform: translateX(0);
    opacity: 1;
}

.send-button svg {
    position: relative;
    z-index: 10;
    
    width: 70%;
    height: 70%;
}

.send-button:hover svg {
  animation-name: spin;
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
}

.blocked {
  pointer-events: none;
  opacity: 0.5;
}

/* ANIMATION */
.clicked {
    animation-name: clicked;
    animation-duration: 200ms;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
  }
  
@keyframes clicked {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* RESPONSIVE */
@media (max-width: 1000px) {
  
}
