.agora-result-window-wrapper {
    position: relative;
}

agora-greetings {
    position: absolute;
    top: 0;
    right: 4rem;

    pointer-events: none;

    z-index: 5;
}

agora-base-loader {
    position: fixed;
    bottom: 2rem;
    left: 2rem;

    transition: 300ms;

    animation-name: fade-in;
    animation-duration: 500ms;
    animation-fill-mode: forwards;

    z-index: 200;
}

/* CARD WRAPPER */
.card-wrapper {
    padding: 2rem;
    box-sizing: border-box;

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    gap: 1.8rem;
    flex-wrap: wrap;
}

.card-wrapper > div {
    /* This is the service wrapper which has a movable wrapper inside it */
    opacity: 1;

    padding: 1rem;
    box-sizing: border-box;

    max-width: 80%;

    border: solid 1px var(--primary-color);
    border-radius: 10pt;

    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    gap: 1rem;

    background-color: rgb(from var(--primary-color) r g b / 0.3);
    backdrop-filter: blur(10px);

    position: relative;

    transition: 300ms;
}

.card-wrapper > div:has(> div:empty) {
    opacity: 0;
}

.service-name {
    padding-inline: 1rem;

    color: var(--text-accent-color);
    font-size: 0.9rem;
    font-weight: bold;
    transition: 300ms;
}

.card-wrapper:has(> div:empty) > span {
    opacity: 0;
}

.card-wrapper > div:hover {
    background-color: rgb(from var(--primary-color) r g b / 0.75);
}

agora-dynamic-card {
    transform: translateY(1000px);
    opacity: 1;
    transition: 300ms;
}

/* MOVABLE WRAPPER */
.movable-wrapper {
    margin: -2rem;
    padding: 2rem;

    opacity: 1;

    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    gap: 1rem;

    overflow-x: auto;
    overflow-y: hidden;

    transition: 300ms;

    position: relative;
}

.movable-wrapper::before {
    /* This is the left fade */
    pointer-events: none;
    content: '';
    position: fixed;
    top: -0.75rem;
    left: -1rem;
    
    width: 4rem;
    height: calc(100% + 1.5rem);

    z-index: 1;

    background: linear-gradient(to right, var(--bg-color), rgba(255, 255, 255, 0));

    opacity: 0;

    transition: 300ms;
}

.movable-wrapper.scroll-left-active::before {
    opacity: 1;
}

.movable-wrapper::after {
    /* This is the right fade */
    pointer-events: none;
    content: '';
    position: fixed;
    top: -0.75rem;
    right: -1rem;
    
    width: 4rem;
    height: calc(100% + 1.5rem);

    z-index: 1;

    background: linear-gradient(to left, var(--bg-color), rgba(255, 255, 255, 0));

    opacity: 0;

    transition: 300ms;
}

.movable-wrapper.scroll-right-active::after {
    opacity: 1;
}

/* AUTOSCROLL AREAS */
.autoscroll-left {
    cursor: url(public/assets/cursors/cursor-left.svg) 20 20, auto;
    position: fixed;
    top: 0;
    left: -1rem;
    height: 100%;
    width: 50px;
    
    z-index: 50000;
}

.autoscroll-right {
    cursor: url(public/assets/cursors/cursor-right.svg) 20 20, auto;
    position: fixed;
    top: 0;
    right: -1rem;
    height: 100%;
    width: 50px;
    
    z-index: 50000;
}

/* SCROLLBARS */
.movable-wrapper::-webkit-scrollbar {
    height: 10px;
}

.movable-wrapper::-webkit-scrollbar-track {
    background: transparent;
    margin-inline: 2rem;
}

.movable-wrapper::-webkit-scrollbar-thumb {
    width: 6px;
    background-color: rgb(from var(--text-secondary-color) r g b / 0.5);
    border-radius: 10px;
    border: 3px solid transparent;
    background-clip: content-box;
}

/* SHOW MORE */
.show-more {
    cursor: pointer;

    height: 40px;
    aspect-ratio: 1;

    display: none;
    place-content: center;

    position: absolute;
    top: 0;
    right: -3.5rem;

    padding: 0.5rem;
    box-sizing: border-box;

    border: 1px solid var(--primary-color);
    border-radius: 100pt;

    background-color: var(--bg-color);
    backdrop-filter: blur(10px);
    filter: brightness(1);

    color: var(--text-tertiary-color);
    font-size: 0.9rem;
    font-weight: bold;

    transition: 300ms;

    z-index: 10;
}

.show-more:hover {
    color: var(--text-secondary-color);

    filter: brightness(1.2);
}

.show-more svg {
    pointer-events: none;
}

/* ANIMATIONS */
.opacity-fade-in {
    animation-name: opacity-fade-in;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

@keyframes opacity-fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fade-in {
    animation-name: fade-in;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(1000px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}