/* GREETINGS */
.agora-greetings-wrapper {
    margin-top: 2rem;
    margin-right: 2rem;
    box-sizing: border-box;
    
    max-width: 470px;
    min-width: 300px;

    background: linear-gradient(45deg, #090c29, #171d52, #113e6b, var(--company-color) 75%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;

    font-size: 40px;
    font-weight: bold;

    animation-name: fade-in;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.greetings em {
    font-style: normal;
}

.default-message {
    width: 100%;
    text-wrap: pretty;
    text-align: right;
}

.greetings-description {
    color: var(--company-color);
    font-size: 0.9rem;
    font-weight: normal;

    text-align: right;
    text-wrap: pretty;
}

.welcome-message {
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 1rem;

    font-weight: normal;
}

.default-welcome {
    text-align: left;
    text-wrap: pretty;
}

.multilanguage-welcome {
    display: none;
}

/* AGORA LOGO */
.logo {
    justify-self: end;
    width: fit-content;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;
}

.agora-name {
    align-self: start;

    margin-bottom: -0.5rem;
    z-index: 10;

    color: var(--text-secondary-color);
    font-size: 1.5rem;
}

.alliance-name {
    padding: 0.5rem;
    padding-inline: 1rem;
    box-sizing: border-box;

    color: var(--company-color);
    font-size: 46px;
    font-weight: bold;

    display: grid;
    place-content: center;


    background-color: var(--primary-color);
}

/* ANIMATIONS */
.hidden {
    animation-name: hide;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-delay: 0.5s;
}

@keyframes hide {
    0% {
        opacity: 1;
        transform: translateX(0%);
    }
    100% {
        opacity: 0;
        transform: translateX(200%);
    }
}

.fade-in {
    animation-name: fade-in;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes pulse {
    0% {
        opacity: 1;
        color: var(--text-tertiary-color);
    }
    25% {
        opacity: 0.5;
        color: var(--text-tertiary-color);
    }
    50% {
        opacity: 1;
        color: var(--text-tertiary-color);
    }
    75% {
        opacity: 0.5;
        color: var(--company-color);
    }
    100% {
        opacity: 1;
        color: var(--text-tertiary-color);
    }
}

/* RESPONSIVE */
@media (max-width: 1000px) {
    .agora-greetings-wrapper {
        margin: 0;
        padding: 0;
        font-size: 20px;
        
        align-items: center;
    }

    .agora-greetings-wrapper > span:nth-child(2) {
        display: none;
    }

    .welcome-message {
        width: fit-content;

        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem; 
    }

    .default-welcome {
        display: none;
    }

    .default-message {
        display: none;
    }

    .multilanguage-welcome {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 1rem;

        color: var(--text-tertiary-color);

        opacity: 0.75;
    }

    .multilanguage-welcome span {
        animation-name: pulse;
        animation-duration: 3s;
        animation-iteration-count: infinite;
    }

    .greetings-description {
        display: none;
    }
}
