.agora-toast-wrapper {
    position: fixed;
    top: 0;
    left: 0;

    z-index: 1000000000;

    animation-name: fade-down;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
} 

.error {
    background-color: #f05454;
    color: white !important;
}

.success {
    background-color: #4caf50;
    color: white !important;
}

.warning {
    background-color: #ff9800;
    color: white !important;
}

.info {
    background-color: #2196f3;
    color: white !important;
}

.inner-wrapper {
    position: relative;

    min-width: 300px;
    min-height: 100px;

    border-radius: 5pt;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.icon {
    padding-left: 1.5rem;
    display: grid;
    place-content: center;
}

.icon svg {
    width: 40px;
    height: 40px;
}

.close {
    position: absolute;
    top: 0.6rem;
    right: 0.6rem;
}

.close svg {
    cursor: pointer;
    
    width: 20px;
    height: 20px;
}

.message {
    padding: 1.5rem;
    padding-inline: 2rem;
    padding-right: 4rem;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.5rem;
}

.title {
    font-size: 1rem;
    font-weight: bold;
}

.content {
    font-size: 0.9rem;
    text-wrap: pretty;
    white-space: pre-line;
}
    
.progress-bar {
    height: 12px;

    background-color: rgba(255, 255, 255, 0.2);

    overflow: hidden;
}

.progress-bar-fill {
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);

    transform: translateX(-100%);

    animation-name: progress-bar-fill;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes progress-bar-fill {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes fade-down {
    0% {
        transform: translate(0, -100%);
    }

    100% {
        transform: translate(0, 0%);
    }
}

.fade-up {
    animation-name: fade-up;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
}

@keyframes fade-up {
    0% {
        transform: translate(0, 0%);
    }

    100% {
        transform: translate(0, -100%);
    }
}





