.agora-chat-window-wrapper {
    box-sizing: border-box;

    width: 100%;
    min-height: 400px;
    max-height: 700px;

    border: 1px solid var(--primary-color);
    border-radius: 15pt;

    background-color: rgb(from var(--primary-color) r g b / 0.75);
    backdrop-filter: blur(10px);
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.15);

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;

    overflow: hidden;
}

.chat-container::-webkit-scrollbar {
    width: 10px;
}

.chat-container::-webkit-scrollbar-track {
    background: transparent;
    margin-block: 1.5rem;
}

.chat-container::-webkit-scrollbar-thumb {
    width: 6px;
    background-color: rgb(from var(--text-secondary-color) r g b / 0.5);
    border-radius: 10px;
    border: 3px solid transparent;
    background-clip: content-box;
}

.chat-container {
    flex: 1;
    
    padding: 1rem;
    padding-block: 1.5rem;
    box-sizing: border-box;
    
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 1.5rem;

    overflow-x: hidden;
    overflow-y: auto;
}

agora-chat-bubble[author="user"] {
    align-self: flex-end;
}

agora-chat-bubble[author="bot"] {
    align-self: flex-start;
}

/* ACTIONS */
.actions-wrapper {
    padding: 1rem;
    box-sizing: border-box;

    position: sticky;
    top: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;

    width: 100%;
    min-height: 50px;
    max-height: 50px;

    background-color: var(--bg-color);

    z-index: 20;
}

/* ICONS */
.clear-chat-button {
    cursor: pointer;

    padding: 0.5rem;
    box-sizing: border-box;

    border-radius: 100pt;

    height: fit-content;
    width: fit-content;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;

    transition: 300ms;
}

.clear-chat-button::after {
    display: none;
    content: '';
}

.clear-chat-button:hover {
    padding-right: 1rem;

    width: fit-content;

    /* background-color: rgb(223, 223, 223);
    box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.15); */

    background-color: var(--primary-color);
}

.clear-chat-button:hover > svg {
    color: var(--text-secondary-color);
}

.clear-chat-button:hover::after {
    display: flex;
    content: 'Reset chat';

    color: var(--text-tertiary-color);

    animation-name: fade-in;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
}

.clear-chat-button > svg {
    color: var(--text-tertiary-color);
}

/* DEFAULT PROMPTS */
.default-prompt-wrapper {
    padding: 1rem;
    box-sizing: border-box;

    position: absolute;
    bottom: 0;
    left: 0;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;

    background: var(--bg-color);
}

.prompt {
    cursor: pointer;

    padding: 0.5rem;
    box-sizing: border-box;

    color: var(--primary-color);
    font-size: 0.75rem;

    border-radius: 5pt;

    background-color: var(--text-accent-color);

    transition: 300ms;
}

.prompt:hover {
    background-color: rgb(from var(--text-accent-color) r g b / 0.7);
}


/* ANIMATIONS */
.fade-in {
    animation-name: fade-in;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}