.agora-searchbar-wrapper {
    width: fit-content;
    height: 50px;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    border-radius: 10pt;
    border-top-right-radius: 10pt;

    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.15);

    transition: 300ms;

    position: relative;
}

/* SEARCHBAR SPINNER */
.searchbar-spinner {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;

    transform: translateX(calc(-100% - 1rem));

    display: none;
    justify-content: flex-end;
    align-items: center;

    z-index: 100;
}

.searchbar-spinner .ball-1 {
    animation: ball-1-scale 1s 0.24s ease-in-out infinite;

    width: 10px;
    height: 10px;
    border-radius: 50%;

    background-color: var(--text-accent-color);
}

.searchbar-spinner .ball-2 {
    animation: ball-2-scale 1s 0.12s ease-in-out infinite;

    width: 10px;
    height: 10px;
    border-radius: 50%;

    background-color: var(--text-accent-color);
}

.searchbar-spinner .ball-3 {
    animation: ball-3-scale 1s 0s ease-in-out infinite;

    width: 10px;
    height: 10px;
    border-radius: 50%;

    background-color: var(--text-accent-color);
}

@keyframes ball-1-scale {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

@keyframes ball-2-scale {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

@keyframes ball-3-scale {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

/* SEARCHBAR INPUT */
.searchbar-input {
    appearance: none;

    outline: none;
    border: none;

    width: 600px;

    padding: 1rem;
    padding-inline: 1.5rem;
    padding-left: calc(1rem + 30px);
    box-sizing: border-box;

    border-radius: 10pt;
    border-top-right-radius: 0;

    flex: 1;
    height: 100%;

    transition: 300ms;

    z-index: 10;
}

.searchbar-input::placeholder {
    color: rgb(from var(--text-tertiary-color) r g b / 0.6);
}

.searchbar-input.folded {
    width: 200px;

    padding-left: 1rem;
}

/* SEARCHBAR BUTTON */
.searchbar-button {
    cursor: pointer;

    height: 50px;
    width: 50px;

    border: none;

    display: grid;
    place-content: center;

    background-color: transparent;

    position: relative;

    transition: 300ms;
}

.searchbar-button.disabled {
    cursor: default;
    opacity: 0.5;
    pointer-events: none;
}

.searchbar-button::before {
    box-sizing: border-box;

    content: "";
    width: calc(100% + 50px);
    height: 100%;

    position: absolute;
    top: 0;
    right: 0;

    border-top-right-radius: 10pt;
    border-bottom-right-radius: 10pt;

    border: 1px solid var(--primary-color);

    background-color: var(--bg-color);

    transition: 300ms;
}

.searchbar-button svg {
    color: var(--text-primary-color);
    z-index: 20;

    transition: 300ms;
}

.searchbar-button:hover svg {
    color: var(--text-accent-color);
}

/* AUPAEU LOGO */
.agora-logo {
    pointer-events: none;

    position: absolute;
    top: 0;
    left: 0.5rem;

    display: grid;
    place-content: center;

    height: 100%;

    opacity: 1;

    z-index: 15;

    transition: 300ms;
}

.agora-logo svg {
    height: 30px;
    width: 30px;
}

.folded + .agora-logo {
    opacity: 0;
}

/* SOURCE SELECT */
.source-select {
    position: absolute;
    top: -1rem;
    right: 0;

    transform: translateY(-100%);

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 0.5rem;

    overflow: hidden;
}

.source-select.folded .source-option{
    transform: translateY(1000%);
}

.source-option {
    cursor: pointer;
    width: 100%;

    padding: 0.5rem;
    padding-right: 1rem;
    box-sizing: border-box;

    border-right: 3px solid transparent;

    color: var(--text-tertiary-color);

    text-align: right;

    transition: transform 0.8s ease-in-out, color 0.3s ease-in-out, border-right 0.3s ease-in-out;
}

.source-option:hover {
    color: var(--text-primary-color);
    border-right: 3px solid var(--text-tertiary-color);
}

.source-option.selected {
    color: var(--text-accent-color);
    border-right: 3px solid var(--text-accent-color);
}

/* UNFOLD BUTTON */
.source-select-unfold-button {
    cursor: pointer;

    position: absolute;
    top: -1rem;
    right: 200px;

    transform: translateY(-100%);

    width: 24px;
    height: 24px;

    display: grid;
    place-content: center;

    color: var(--text-secondary-color);

    transition: 300ms;
    transition-delay: 0.1s;
}

.source-select.folded + .source-select-unfold-button {
    right: 16px;
    transition-delay: 0.6s;
}

/* TRESHOLD */
.treshold {
    position: fixed;
    bottom: 2rem;
    left: 2rem;

    width: 200px;

    z-index: 100000000;
}

/* AUTOCOMPLETE DROPDOWN */
.autocomplete-dropdown {
    list-style: none;

    padding: 1rem;
    margin: 0;
    box-sizing: border-box;

    position: absolute;
    bottom: calc(100% - 0.8rem);
    left: 0.8rem;

    width: fit-content;
    min-width: 200px;
    height: fit-content;

    opacity: 0;

    border-radius: 10pt;
    background-color: var(--primary-color);

    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.15);

    overflow: hidden;

    transition: 300ms;

    z-index: 100;
}

.searchbar-input:focus ~ .autocomplete-dropdown:not(:empty) {
    opacity: 1;
}

.autocomplete-dropdown li {
    cursor: pointer;

    padding: 0.5rem;
    padding-inline: 1rem;
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;

    font-size: 0.8rem;

    border-radius: 5pt;

    transition: 300ms;
}

.autocomplete-dropdown li.selected-match {
    background-color: var(--bg-color);
}

.match.highlighted {
    color: var(--text-accent-color);
}

.match {
    color: var(--text-tertiary-color);
}

.match-container {
    display: flex;
    justify-content: flex-start;
}

.tab-word {
    padding: 0.25rem;
    padding-inline: 0.5rem;
    margin-right: -0.5rem;
    box-sizing: border-box;

    color: var(--text-tertiary-color);
    font-size: 0.6rem;

    border-radius: 2pt;

    background-color: rgb(from var(--text-tertiary-color) r g b / 0.1);
}

/* LANGUAGE SELECTOR */
.language-selector {
    pointer-events: none;

    position: absolute;
    bottom: 60px;
    right: 0.5rem;

    display: flex;
    flex-direction: column;
    align-items: flex-end;

    transition: 300ms;
}

.query-language-selector {
    pointer-events: all;
    list-style: none;
    padding: 0;

    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    direction: rtl;
    gap: 0.5rem;

    transform: translateX(0);

    transition: 500ms;
 }

 .query-language-selector.hidden {
    pointer-events: none;
    transform: translateX(125%);
 }

.query-language-option {
    cursor: pointer;

    padding: 0.5rem;
    padding-inline: 1rem;
    box-sizing: border-box;

    text-align: center;

    border-radius: 5pt;

    background-color: rgb(from var(--text-tertiary-color) r g b / 0.15);
    backdrop-filter: blur(10px);

    font-size: 0.7rem;
    color: var(--text-primary-color);

    transition: 300ms;
}

.query-language-option:hover {
    background-color: rgb(from var(--text-tertiary-color) r g b / 0.35);
}

.query-language-selector-label-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 0.25rem;
}

.query-language-selector-label {
    pointer-events: all;
    cursor: pointer;

    font-size: 0.8rem;
    color: var(--text-primary-color);

    transition: 300ms;
}

.query-language-selector-label:hover {
    color: black;
}

.query-language-selector-hint {
    font-size: 0.7rem;
    color: var(--text-tertiary-color);
}



/* RESPONSIVE */
@media (max-width: 1000px) {
    .agora-searchbar-wrapper {
        width: 100%;
        height: 60px;

        border-radius: 0;
    }

    .searchbar-input {
        border-radius: 0;
        flex: 1;
    }

    .searchbar-button {
        border-radius: 0;
        height: 100%;
        width: 60px;
    }

    .searchbar-button::before {
        border-radius: 0;
    }

    .language-selector {
        left: 1rem;
        bottom: 70px;
        align-items: flex-start;
    }

    .query-language-selector {
        direction: ltr;
    }

    .query-language-selector.hidden {
        transform: translateX(-125%);
    }

    .query-language-selector-label-wrapper {
        align-items: flex-start;
    }
}

/* ANIMATIONS */
.show-lang-selector {
    animation-name: show-lang-selector;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes show-lang-selector {
    0% {
        opacity: 0;
        transform: translateX(150%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.slide-in {
    animation-name: slide-in;
    animation-duration: 0.3s;
    animation-timing-function: ease-in;
}

@keyframes slide-in {
    from {
        opacity: 0;
        transform: translateX(100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}
