.action-bar-container {
    display: flex;
    padding: 0.5rem;
    box-sizing: border-box;

    background-color: rgb(from var(--primary-color) r g b / 0.5);
    backdrop-filter: blur(10px);

    border-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.action-button {
    width: 40px;
    height: 40px;

    border-radius: 5pt;

    border: none;
    /* color: var(--primary-color, #333); */

    font-size: 18px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgb(from var(--primary-color) r g b / 0);

    cursor: pointer;

    transition: all 0.3s ease;
}

/* BUTTONS */
.action-button svg {
    width: 20px;
    height: 20px;
}

.action-button:not(:disabled):hover {
    color: var(--text-accent-color);
    background-color: rgb(from var(--primary-color) r g b / 0.8);
}

.action-button:active {
    transform: scale(0.95);
}

.action-button:disabled {
    opacity: 0.5;
    cursor: auto;
}

.map-button {
    color: var(--text-secondary-color);
}

.refresh-button {
    color: var(--text-secondary-color);
} 

.ai-assistant-button {
    color: var(--text-secondary-color);
}

.ai-assistant-button svg {
    width: 32px;
    height: 32px;
}

.search-button {
    color: var(--text-secondary-color);
}

.search-button svg {
    width: 32px;
    height: 32px;
}
/* TOOGLES */
.action-toogle {
    position: relative;
    margin-left: 0.5rem;


    height: 40px;

    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;

    background-color: rgba(0, 0, 0, 0.05);

    border-radius: 5pt;

    overflow: hidden;
}

.action-toogle::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;

    height: 40px;
    width: 40px;

    border-radius: 4pt;

    background-color: rgb(from var(--primary-color) r g b / 0.9);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    transition: transform 300ms ease;
}

.action-toogle::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    width: 100%;

    border-radius: 5pt;
    
    box-shadow: inset 0 10px 10px rgba(0, 0, 0, 0.08);


    z-index: -1;
}

.action-toogle .action-button {
    background-color: transparent
}

.action-toogle .action-button svg {
    transition: opacity 300ms ease;
}

.action-toogle .action-button:not(:disabled):hover {
    color: var(--text-secondary-color);
    background-color: transparent;
}

.action-toogle .action-button:not(:disabled):hover svg {
    opacity: 1;
}

.action-toogle .action-button svg {
    opacity: 0.5;
    z-index: 1;
}

.action-toogle .action-button.selected svg {
    opacity: 1;
    color: var(--text-accent-color);
}

.action-toogle:has(> .action-button + .action-button.selected)::before {
    transform: translateX(100%);
}

.action-toogle:has(> .action-button.selected + .action-button)::before {
    transform: translateX(0%);
}


