.agora-dynamic-card-wrapper {
    cursor: pointer;
    box-sizing: border-box;
    
    height: 275px;
    width: 200px;

    border-radius: 10pt;

    /* background-color: var(--card-primary-color); */

    background-color: var(--primary-color);

    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.15);

    overflow: hidden;

    position: relative;

    transition: 300ms;
}

/* .no-image {
    height: 150px;
    width: 275px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.no-image .card-content {
    position: inherit;

    height: 100%;
    width: 100%;

    justify-content: center;
} */

.agora-dynamic-card-wrapper > * {
    user-select: none;
}

.agora-dynamic-card-wrapper:hover {
    transform: translateY(-10%);

    box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.15);
}

/* BLOCKS */
.card-image {
    width: 100%;
    height: 40%;
    object-fit: cover;
}

.default-image {
    background-image: 
        radial-gradient(ellipse at top, #0080ff, #009aff, #00aef8, #00bfe6, #00ccd3),
        radial-gradient(ellipse at bottom,#00ccd3,#00bfe6,#00aef8, #009aff,#0080ff),
        radial-gradient(ellipse at left, #0080ff, #009aff, #00aef8, #00bfe6, #00ccd3),
        radial-gradient(ellipse at right,#00ccd3,#00bfe6,#00aef8, #009aff,#0080ff);
}

.card-content {
    padding: 0.75rem;
    box-sizing: border-box;

    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 60%;

    border-top: solid 3px var(--primary-color);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5rem;

    transition: 300ms;
}

.card-name {
    color: var(--text-primary-color);
    font-weight: bold;
    font-size: 0.9rem;

    width: 100%;

    display: -webkit-box;           /* Use a flex-like box for text rendering */
    -webkit-line-clamp: 2;         /* Number of lines to show */
    -webkit-box-orient: vertical;  /* Define the orientation of the box */
    overflow: hidden;              /* Hide any overflowing text */
    text-overflow: ellipsis;       /* Add ellipsis (...) at the end */
    word-wrap: break-word;   
}

.separator {
    width: 100%;
    height: 1px;

    border-radius: 10pt;

    background-color: var(--text-primary-color);
}

.card-summary {
    color: var(--text-secondary-color);
    font-size: 0.7rem;

    width: 100%;

    display: -webkit-box;           /* Use a flex-like box for text rendering */
    -webkit-line-clamp: 3;         /* Number of lines to show */
    -webkit-box-orient: vertical;  /* Define the orientation of the box */
    overflow: hidden;              /* Hide any overflowing text */
    text-overflow: ellipsis;       /* Add ellipsis (...) at the end */
    word-wrap: break-word;   
}

.fill-space {
    flex: 1;
}

.card-origin {
    color: var(--text-tertiary-color);
    font-size: 0.7rem;
}

/* HIGHLIGHT */
.featured-badge {
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
    
    height: 20px;
    width: 20px;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('public/assets/images/aupaeu-logo.png');
}



