.agora-pin-box-wrapper {
    position: fixed;
    bottom: 2rem;
    left: 0;
    transform: translateX(-90% );

    padding: 1.25rem;

    width: 400px;
    height: 400px;

    border: solid 1px var(--primary-color);
    border-left: none;
    border-radius: 10pt;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    background-color: rgb(from var(--primary-color) r g b / 0.3);
    backdrop-filter: blur(10px);

    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.15);

    z-index: 5;

    overflow: visible;

    transition: 400ms;
}

.agora-pin-box-wrapper:hover {
    transform: translateX(0);
}

.agora-pin-box-wrapper:has(> .pin-icon.unfolded) {
    transform: translateX(0);
}

/* CARDS */
.card-wrapper {
    padding: 1.25rem;
    box-sizing: border-box;

    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5rem;

    overflow-x: hidden;
    overflow-y: auto;
}

agora-pin-card {
    width: 100%;
}

/* DRAG AND DROP */
.drop-placeholder {
    pointer-events: none;

    opacity: 0;

    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    height: 90%;
    transform: translate(-50%, -50%);
  
    display: grid;
    place-content: center;

    color: var(--text-tertiary-color);

    border: 2px dashed rgba(0, 0, 0, 0.1);
    border-radius: 10pt;

    transition: 300ms;
}

.no-cards .drop-placeholder {
    opacity: 1;
}

.agora-pin-box-wrapper.dragover {
    transform: translateX(0);
}

.agora-pin-box-wrapper.dragover .drop-placeholder {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.05);
}

/* ICON */
.pin-icon {
    cursor: pointer;
    position: fixed;
    top: 0.5rem;
    right: 0.25rem;
    
    display: grid;
    place-content: center;

    width: 30px;
    height: 30px;

    transition: 300ms;
}

.pin-icon svg {
    color: var(--text-accent-color);
    
}

.pin-icon.unfolded svg {
    fill: var(--text-accent-color);
}

/* SCROLLBAR */
.card-wrapper::-webkit-scrollbar {
    width: 10px;
}

.card-wrapper::-webkit-scrollbar-track {
    margin-block: 0.5rem;
    background: transparent;
}

.card-wrapper::-webkit-scrollbar-thumb {
    width: 6px;
    background-color: rgb(from var(--text-secondary-color) r g b / 0.5);
    border-radius: 10px;
    border: 3px solid transparent;
    background-clip: content-box;
}