.agora-card-info-carousel-wrapper {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    
    background-color: rgba(0,0,0,0.15);
    backdrop-filter: blur(2px);

    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

/* CARD INFO */
.card-info-wrapper {
    pointer-events: all;
    height: 82%;
    aspect-ratio: 12/10;

    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 1rem;

    overflow-x: hidden;
    /* overflow-y: auto; */
    overflow-y: hidden;

    background-color: var(--primary-color);

    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.15);

    position: relative;

    /* New style */
    /* position: fixed;
    top: 0;
    left: 50%;
    width: 40%;
    min-width: 500px; 
    height: 100%;
    z-index: 100;
    box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.25);

    transform: translateX(-50%); */
}

.card-info-wrapper::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: calc(2rem + 150px);

    background: linear-gradient(to top, var(--primary-color) 60%, rgba(255, 255, 255, 0));

    pointer-events: none;
}

.card-info-content {
    padding: 2rem;
    box-sizing: border-box;

    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;

    position: relative;
}

.card-info-content > span:empty {
    display: none;
}

.card-info-name {
    color: var(--text-primary-color);
    font-weight: bold;
    font-size: 1.2rem;
    text-wrap: pretty;

    width: 100%;
}

.card-info-summary {
    /* display: -webkit-box;           
    -webkit-line-clamp: 10;        
    -webkit-box-orient: vertical; 
    overflow: hidden;          
    text-overflow: ellipsis;       
    word-wrap: break-word;    */
}

.card-info-summary,
.card-info-summary span {
    color: var(--text-secondary-color);
    font-size: 0.9rem !important;
    line-height: 1.35rem !important;

    width: 100%;
    text-wrap: pretty;
}

.card-info-breadcrumb {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;

    font-size: 0.7rem;
    color: var(--text-tertiary-color);
}

.card-info-breadcrumb .leaf {
    text-decoration: none;
    cursor: pointer;
    color: var(--text-tertiary-color);
    font-weight: bold;

    transition: 300ms;
}

.card-info-breadcrumb .leaf:hover {
    color: var(--text-accent-color);
}

.card-info-origin-wrapper {
    align-self: flex-start;
}

.card-info-origin {
    color: var(--text-secondary-color);
    font-size: 1rem;
}

.card-info-service {
    position: absolute;
    top: -1rem;
    right: 1rem;

    transform: translateY(-50%);

    padding: 1rem;
    padding-inline: 1.5rem;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;

    width: fit-content;
    min-width: 30%;
    height: 50px;

    border-radius: 5pt;

    background-color: rgb(from var(--primary-color) r g b / 0.5);
    backdrop-filter: blur(10px);

    color: var(--text-secondary-color);
    font-size: 0.8rem;
    font-weight: bold;

    z-index: 10;
}

/* CARD IMAGE */
.card-info-image-container {
    width: 100%;
    min-height: 300px;
    max-height: 300px;

    overflow: hidden;

    position: relative;
}

.card-info-image-container::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 50%;

    background: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
}

.card-info-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

.no-image .card-info-image-container {
    display: none;
}

.default-image {
    background-image: 
        radial-gradient(ellipse at top, #0080ff, #009aff, #00aef8, #00bfe6, #00ccd3),
        radial-gradient(ellipse at bottom,#00ccd3,#00bfe6,#00aef8, #009aff,#0080ff),
        radial-gradient(ellipse at left, #0080ff, #009aff, #00aef8, #00bfe6, #00ccd3),
        radial-gradient(ellipse at right,#00ccd3,#00bfe6,#00aef8, #009aff,#0080ff);
}

/* SCROLLBAR */
.card-info-wrapper::-webkit-scrollbar {
    width: 10px;
}

.card-info-wrapper::-webkit-scrollbar-track {
    background: transparent;
    margin-block: 0.25rem;
}

.card-info-wrapper::-webkit-scrollbar-thumb {
    width: 6px;
    background-color: rgb(from var(--text-secondary-color) r g b / 0.5);
    border-radius: 10px;
    border: 3px solid transparent;
    background-clip: content-box;
}

/* ADDITIONAL FIELDS */
.card-info-additional-fields {
    width: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
}

.additional-field {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-self: flex-start;
    gap: 1rem;
}

.field-name {
    flex: 2;

    font-size: 0.9rem;
    font-weight: bold;
    color: var(--text-secondary-color);
}

.field-value {
    flex: 6;

    overflow: hidden;
    text-overflow: ellipsis;

    font-size: 0.8rem;
    color: var(--text-tertiary-color);
}

.field-value > p:first-of-type {
    padding: 0;
    margin: 0;
}

/* ACTIONS */
.card-info-actions {
    margin-top: auto;

    width: 100%;

    padding: 1rem;
    padding-bottom: 2rem;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.card-info-explore-button {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);

    cursor: pointer;
    user-select: none;

    padding: 1rem;
    padding-inline: 3.5rem;
    box-sizing: border-box;

    border: 1px solid var(--text-accent-color);
    /* border-radius: 6pt; */

    background: transparent;

    color: var(--text-accent-color);
    font-weight: bold;

    transition: 300ms;

    z-index: 110;
}

.card-info-explore-button:hover {
    background-color: var(--text-accent-color);
    color: var(--primary-color);
}

.card-info-explore-button:focus {
    outline: none;
}

/* CAROUSEL CONTROLS */
.controls-wrapper {
    width: fit-content;
    height: fit-content;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;

    transition: 300ms;
}

.controls-wrapper .prev-control, .controls-wrapper .next-control {
    cursor: pointer;

    height: 50px;
    width: 50px;

    display: grid;
    place-content: center;

    border-radius: 100pt;

    background-color: rgb(from var(--primary-color) r g b / 0.5);
    backdrop-filter: blur(10px);

    color: var(--text-accent-color);

    transition: 300ms;
}

.controls-wrapper .prev-control:hover, .controls-wrapper .next-control:hover {
    background-color: var(--primary-color);
}

.close-button {
    cursor: pointer;

    top: 1rem;
    right: 1rem;

    width: 40px;
    aspect-ratio: 1;

    display: grid;
    place-content: center;

    border: none;
    border-radius: 100pt;

    background-color: rgb(from var(--primary-color) r g b / 0.5);
    backdrop-filter: blur(10px);

    color: var(--text-primary-color);
    font-weight: bold;

    transition: 300ms;
}

.close-button svg {
    pointer-events: none;
}

.close-button:hover {
    background-color: var(--primary-color);
}

/* STATES */
.hidden {
    pointer-events: none;
    opacity: 0;
}

.highlight {
    padding: 0.25rem;
    padding-inline: 0;
    box-sizing: border-box;

    color: var(--text-accent-color) !important;
    font-weight: bold;

    background-color: rgb(from var(--text-accent-color) r g b / 0.1);
}

/* ANIMATIONS */
.fade-left {
    animation-name: fade-left;
    animation-duration: 400ms;
}

@keyframes fade-left {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(-1000px);
    }
}

.fade-right {
    animation-name: fade-right;
    animation-duration: 400ms;
}

@keyframes fade-right {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(1000px);
    }
}

.fade-in {
    animation-name: fade-in;
    animation-duration: 400ms;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* RESPONSIVE */
@media (max-width: 1000px) {
    .card-info-wrapper {
        width: 100%;
        aspect-ratio: auto;

        overflow-y: auto;
    }    

    .card-info-wrapper::after {
        display: none;
    }

    .card-info-explore-button {
        position: inherit;
        transform: translateX(0);
    }
}